<% if obj.errors.any? %>
    <div class="col-sm-8 col-sm-offset-2">
	    <div class="alert alert-danger alert-dissimible" role="alert">
		    <button type="button" class="close error-x" data-dismiss="alert" >&times;</button>
		         <h2 class="error-h2"> Your Blog has following <%= pluralize(obj.errors.count,"Error")  %> </h2>
				 <ul>
					 <% obj.errors.full_messages.each do |msg| %>
						 <li> <%= msg %> </li>
					 <% end %>
				 </ul>
		 </div>
	 </div>
<% end %>