$navbar-default-bg: #EDBB99;

@import "bootstrap-sprockets";
@import "bootstrap";

// // // // navbar
.navbar-brand{
	float: left;
	font-size: 1.8em;
	color: #000000;
	text-transform: uppercase;
	letter-spacing: -1px;
}
.new-h1{
	font-size: 3em;
	text-align: center;
	margin: 20px;
}

.form-head{
	font-size: 1.4em;
}

// // // // error
.error-h2{
	padding: 0px;
    margin-top: 0px;
}
.error-x{
	 margin: 6px 12px 0 0;	
}

// // // // root
.create-btn{
	font-size: 1.4em;
}
.close{
	float: right;
}
.jumbotron{
	background-image: asset-url('blog2.jpg');
	background-size: cover;
	height: 600px;
}
.jumbotron h1{
	padding: 40px 0 40px 0;
	font-weight: bold;
	color:  #943126 ;
}
.btn-lg {
	font-size: 1.7em;
}

// // // //footer
.enterprises{
	text-decoration: none;
}
.back {
	float: right;
	padding: 0;
	margin: 0;
	padding-right: 4px;
}
.about{
	float: right;
}
.footer{
	border-top: 1px solid grey;
	padding: 10px ;
	padding-top: 20px;
	margin-top: 40px;
}


// // // // index
.b-apellation{
	align: center;  **
	font-size: 1.6em;
	text-transform: uppercase;
	padding: 15px 0 15px 0;
	margin: 0;
	border-bottom: 1px solid #518EC2;
	font-weight: bold;
}
.b-caption{
	padding: 15px 0 15px 0;
	font-size: 1.2em;
	margin: 0;
	border-bottom: 1px solid #518EC2;
	font-weight: 1px;
}
.b-specification{
	padding: 15px 0 15px 0;
	font-size: 1.2em;
	margin: 0;
	border-bottom: 1px solid #518EC2;
	font-weight: 1px;
}
.index-button{
	padding: 10px; **
}
.index-create-new-blog{
	float: right;
}
.well-index{
}