<div class="container">
	<div class="footer">
	Copyright &copy By <a href="https://www.google.com" class="enterprises"> Rajat Enterprises Limited </a> <%= link_to 'About', about_path, class: "about" %> 
	</div>
</div>